<div class="container text-center">
    <button (click)="downloadFile()" class="btn btn-primary mb-5 shadow border">Download Resume</button>

    <div class="pb-2">
        <accordion [isAnimated]="true" class="shadow">
            <accordion-group heading="Work Experience">
                <div style="text-align: left;">
                    <h2 class="mb-0">Design Enablement Intern</h2>
                    <h3 class="text-primary">Intel</h3>
                    <ul>
                        <li>Developed an Excel-based training management application integrating data from three vendor systems, reducing onboarding time by ~20% and improving course accessibility for over 150 employees</li>
                        <li>Automated internal reporting workflows by developing VBA and Python scripts to aggregate and clean support ticket data, cutting manual analysis time by 40%</li>
                        <li>Built interactive Excel dashboards to visualize workflow efficiency and recurring support issues, helping management identify top pain points and prioritize fixes</li>
                    </ul>
                </div>
            </accordion-group>

            <accordion-group heading="Education">
                <div style="text-align: left;">
                    <h2 class="mb-0">Purdue University</h2>
                    <h3 class="text-primary">B.S in Computer Engineering</h3>
                    <h4 class="text-primary">Concentration: Machine Learning and AI</h4>
                    <h5 class="text-secondary">2021 - 2025</h5>
                </div>
                <hr>
                <div style="text-align: left;">
                    <h2 class="mb-0">George Mason University</h2>
                    <h3 class="text-primary">M.S in Data Analytics Engineering</h3>
                    <h5 class="text-secondary">2025 - 2027 (expected)</h5>
                </div>
            </accordion-group>

            <accordion-group heading="Certifications">
                <div style="text-align: left;">
                    <h3 style="text-align: left;">Automation & Advanced Techniques with Copilot in Excel</h3>
                    <h4 class="text-secondary">Microsoft</h4>
                    <h5 class="text-secondary">Issued: August 2025</h5>
                </div>
                <hr>
                <div style="text-align: left;">
                    <h3 style="text-align: left;">AWS Academy Graduate - Cloud Foundations - Training Badge</h3>
                    <h4 class="text-secondary">Amazon Web Services</h4>
                    <h5 class="text-secondary">Issued: October 2025</h5>
                </div>
                <hr>
                <div style="text-align: left;">
                    <h3 style="text-align: left;">Data Modeling in Power BI</h3>
                    <h4 class="text-secondary">Microsoft</h4>
                    <h5 class="text-secondary">Issued: October 2025</h5>
                </div>
            </accordion-group>

            <accordion-group heading="Skills">
                <div class="row" style="text-align: left;">
                    <ul>
                        <li class="col-md-4">Python</li>
                        <li class="col-md-4">C/C++</li>
                        <li class="col-md-4">AWS</li>

                        <li class="col-md-4">Typescript</li>
                        <li class="col-md-4">Javascript</li>
                        <li class="col-md-4">Excel / VBA</li>

                        <li class="col-md-4">SQL</li>
                        <li class="col-md-4">MongoDB</li>
                        <li class="col-md-4">Docker</li>

                        <li class="col-md-4">React</li>
                        <li class="col-md-4">Angular</li>
                    </ul>
                </div>
            </accordion-group>
        </accordion>
    </div>
</div>