<div class="container">
    <div class="row">
        <div class="col-lg shadow border m-1">
            <div class="text-center">
                <h2>About me</h2>
                <img src="assets/linkdin_pfp.png" alt="pfp" width="256" height="256" class="rounded-circle">
                <p>Highly ambitious, meticulous, and goal-oriented individual driven to analyze real-world problems and develop practical, tech-driven solutions. Passionate about software development, data analytics, and leveraging technology to solve meaningful challenges. Adept at working collaboratively within multidisciplinary teams, with strong communication skills and a continuous learning mindset to contribute effectively to innovative and impactful projects.</p>
            </div>
        </div>
        <div class="col-lg shadow border m-1">
            <div class="text-center">
                <h2>Featured Project</h2>
                <h4>{{featuredProject.name}}</h4>
            </div>
        </div>
    </div>
</div>
